body {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #eac4e1;
    
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
}

#game {
    text-align: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
}

.cell:hover {
    background-color: #f1f1f1;
}

#reset {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
}

#message {
    margin-top: 20px;
    font-size: 1.2rem;
}
